<html>

  <head>

  </head>

  <body>

    <h1>Caesar Cipher</h1>

    <p>

    <p>Enter text to encrypt with the Caesar cipher:</p>

    <form>

      <input type='text' name='input' />

      <p>Select a shift number to use for encryption:</p>

      <input type='number' name='shift' value='0' /> 

      <input type='submit' value='Encrypt!' />

    </form>

    <p>

      <%= result %>

    </p>

  </body>

</html>